mule-demo7/src/main/mule/mule-demo7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55b9bc51-bf46-4816-a6fa-cec1dfe8b88b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo7Flow" doc:id="89cf7941-107e-414e-a6b4-824d05c6ed90" >
		<http:listener doc:name="Listener" doc:id="9b74d7cb-69bc-4f70-862a-c5da3b8181b5" config-ref="HTTP_Listener_config" path="/demo7"/>
		<set-payload value='#["Hello Mule"]' doc:name="Set Payload" doc:id="0bdae5ff-7fad-4fd8-a0c9-2e4aaee8149c" />
		<logger level="INFO" doc:name="Logger" doc:id="653211ac-4353-4642-afc5-432e27b180fa" message="#[payload]"/>
	</flow>
</mule>
